acerun/demo3/databasemodel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="data" type="employeeType"></xsd:element>

	<xsd:complexType name="employeeType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"></xsd:element>
			<xsd:element name="manager" type="xsd:string"></xsd:element>
			<xsd:element name="address" type="xsd:string"></xsd:element>
			<xsd:element name="id" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>